* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: row;
  height: 355px;
}

.column {
  min-width: 380px;
  display: flex;
  flex-direction: column;
}

.title {
  min-height: 80px;
  background-color: #e2e2e2;
}

.title > span {
  height: 100%;
}

.column > * {
  display: flex;
  flex-direction: column;
}

span {
  padding: 20px;
  border: 1px solid #9E9E9E;
  border-left: none;
  border-top: none;
}

#canvas {
  width: 100%;
  min-width: 380px;
  max-width: 380px;
}
